For myself

* there are a lot of categorical variables in model and trim - 
    * Do these dummy variable encoding? 
    * Should I drop them?
        * Yes they need dummy encoding. However, let's do that after the EDA
* Visuals
    * Histogram of price

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv', )

In [3]:
df.head()

,Unnamed: 0,body_type,co2Emissions,condition,doors,engine_size,isTradeSeller,make,manufactured_year,mileage,model,price,seats,transmission,location
0,0,Hatchback,101,Used,5,1.1,True,Ford,2018,21400,Fiesta,9300.0,5,Manual,Bristol
1,1,Coupe,163,Used,2,3.0,True,BMW,2018,28261,2 Series,21745.0,4,Automatic,Bristol
2,2,Hatchback,105,Used,5,0.9,False,Renault,2018,19981,Clio,8455.0,5,Manual,Bristol
3,3,SUV,161,Used,5,2.0,True,Alfa Romeo,2018,11204,Stelvio,27990.0,5,Automatic,Bristol
4,4,Hatchback,93,Used,5,1.0,True,Citroen,2018,13450,C1,7500.0,4,Manual,Bristol